@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  .navLink {
    @apply text-white underline cursor-pointer p-2;
  }
  svg {
    @apply w-9 h-9 fill-slate-100 stroke-[5px] stroke-slate-500;
  }
  .scaledImg {
    @apply relative h-64 col-span-1 lg:h-full lg:col-span-2 lg:row-span-2;
  }
  .normalImg {
    @apply relative h-64 3xl:h-80;
  }
  .imgGrid {
    @apply grid grid-flow-row-dense gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-4;
  }
  .imgFrame {
    @apply relative h-full hover:border-4 hover:border-white transform ease-linear duration-100 rounded-lg cursor-pointer;
  }
  .menu {
    @apply fixed top-0 left-0 w-full z-10
  }
}
